#highScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 50px;
}

#high-score {
    font-size:280%;
    margin-bottom: 0.5rem;
    text-align: center;
    margin-top: 20rem;
}

.btn-high-scores {
    text-align: center;
}
