html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.hidden {
    display: none;
}
#time {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
}
main {
text-align: center;
}

#start-btn {
    height: 50px;
    width: 150px;
}

#timerDisplay {
    font-size: 20px;
    text-align: center;
}
content {
    margin-top: 50px;
    text-align: center;
}
#content-title {
    font-size: 50px;
}
.content-text {
    text-align: center;
    font-size: 25px;
}
.btn {
    background-color: rgb(130, 44, 181);
    border: none;
    color: white;
    margin: 50px;
    border-radius: 25px;
    display: inline-block;
    font-size: 22px;
    line-height: 10px;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.4s;
    width: 150px;
    height:75px;
    text-align: center;
}
.btn:hover {
    background-color:rgb(130,44,181);
    color:white;
}